Hi,
<div>You have a new appointment: </div>
<p>Student: <%=@user.email%></p> 
<p>Student: <%=@user.name%></p> 
<p>Date: <%=@appt.date%></p> 
<p>time: <%=@appt.time%></p> 
questions: <%=@appt.questions%>